PORT=

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

JWT_SECRET=
RESEND_KEY=
EMAIL_SENDER=
EMAIL_SUBJECT=
FRONTEND_URL=
